{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="row m-3">

        <div class="col-12 my-3 my-lg-5 left">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3 pe-md-5 text-center">
                    <h1 class="profile-detail-name">
                        <!-- diplay first name if available -->
                        {% if profile.firstname %}
                        {{ profile.firstname }}
                        <!-- if first name and last name are both available, show both -->
                            {% if profile.lastname %}
                                {{ profile.lastname }}
                            {% endif %}
                        <!-- otherwise, display the username -->
                        {% else %}
                        {{ profile.user.username }}
                        {% endif %}
                    </h1>
                        <div class="d-inline-block px-2 py-1 
                        {% if profile.user.is_staff%} staff-label {% endif %}">
                            {% if profile.user.is_staff%}
                                staff
                            {% else %}
                                community member
                            {% endif %}
                        </div>
                    <hr>
                    {% if profile.pronouns%}
                    <p class="profile-fields-card">
                        <span class="profile-field-name">pronouns:</span>
                        <br>
                        {{ profile.pronouns}}
                    </p>
                    {% endif %}
                    {% if profile.neurodivergence%}
                        <p class="profile-fields-card">
                            <span class="profile-field-name">neurodivergence:</span>
                        <br>
                        {{ profile.neurodivergence}}
                    </p>
                    {% endif %}
                </div>
                <div class="col-12 col-md-8 col-xl-9">
                    {{ profile.about}}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

