<!-- Displays the list of profiles (only for selected users, not all registered users) -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid px-lg-5">
    <h1>Profiles</h1>
    <div class="row">

        <!-- Profile Entries Column -->
        <div class="col-12 my-3 left">
            <div class="row">
                {% for profile in profiles %}
                <div class="col-md-4 my-2">
                    <div class="card mb-4 px-2 h-100 text-center profile-card">
                        <div class="card-body">
                                    <div class="author p-2 mb-2 d-flex flex-wrap align-content-center justify-content-center profile-name">
                                        <!-- diplay first name if available -->
                                        {% if profile.firstname %}
                                            {{ profile.firstname }}
                                            <!-- if first name and last name are both available, show both -->
                                                {% if profile.lastname %}
                                                    {{ profile.lastname }}
                                                {% endif %}
                                        <!-- otherwise, display the username -->
                                        {% else %}
                                            {{ profile.user.username }}
                                        {% endif %}
                                    </div>
                            <!-- the whole profile card is clickable -->
                            <a href="{% url 'profile_detail' profile.slug %}" class="recipe-link stretched-link">
                            <!-- staff status -->
                            {% if profile.user.is_staff%}
                                staff
                            {% else %}
                               community member
                            {% endif %}
                            </a>
                            <hr>
                            <!-- pronouns -->
                            <p class="profile-fields-card">
                                <span class="profile-field-name">pronouns:</span>
                                <br>
                                {% if profile.pronouns%}
                                    {{ profile.pronouns}}
                                {% else%}
                                    <span class="fst-italic">not specified</span>
                                {% endif %}
                            </p>
                            <!-- neurodivergence -->
                            <p class="profile-fields-card">
                                <span class="profile-field-name">neurodivergence:</span>
                                <br>
                                {% if profile.neurodivergence%}
                                    {{ profile.neurodivergence}}
                                {% else%}
                                    <span class="fst-italic">not specified</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- pagination links -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &laquo;</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}