:root {
    --very-dark-orange: #531D04;
    --dark-orange: #D7410F;
    --med-orange: #FD7E14;
    --light-orange: #f7ddcf;
    --very-dark-blue: #08374F;
    --dark-blue: #0F6895;
    --med-blue: #20A6E9;
    --light-blue: #BFE6F7   ;
    --very-dark-green: #084f37;
    --dark-green: #1b871d;
    --med-green: #7ef075;
    --light-green: #ceedcc;
    --teal: #188181;
    --light-teal: #23BBBB;
    --light-neutral: #F9FAFC;
    --dark-neutral: #313845;
    --white: #FFFFFF;
    --very-dark-highlight: var(--very-dark-orange);
    --dark-highlight: var(--dark-orange);
    --highlight: var(--med-orange);
    --light-highlight: var(--light-orange);

  }

body {
    background-color: var(--white);
    color: var(--very-dark-highlight);
}

.brand {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: var(--dark-highlight);
}

nav .brand {
    color: var(--very-dark-highlight);
}

.nav-link,
.navbar-text {
    color: var(--very-dark-highlight);
}

#logo {
    height: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.nav-link:hover,
nav .brand:hover {
    color: var(--dark-highlight);
}

.nav-item .active{
    font-weight: bold;
}

.navbar-text {
    font-family: Lato, sans-serif;
    font-weight: bold;
}

.navbar-toggler-icon {
    color: var(--very-dark-highlight);
    padding-top: 6px;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: var(--light-highlight);
}

.dark-bg {
    background-color: var(--dark-highlight);
}

.pagination a:hover {
    color: var(--dark-highlight)
}

/* Recipe detail view */

.main-bg {
    background-color: var(--light-neutral);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--dark-highlight);
    border-radius: 5px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-container,
.masthead-row,
.masthead-text {
    height: 100%;
}

.masthead-text {
    background-color: var(--dark-highlight);
    color: var(--white);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.recipe-link {
    text-decoration: none;
    color: var(--very-dark-highlight) ;
}

.recipe-link:hover,
.page-link {
    color: var(--highlight) ;
}

.footer-link:hover,
.footer-link:active,
.btn-search:hover,
.btn-search:active {
    color: var(--light-highlight);
} 


.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: var(--white);
}

.recipe-attributes {
    margin-left: 5%;
    margin-top: auto;
}

.card-header {
    background-color: var(--highlight);
}

#instructions {
    background-color: var(--light-highlight);
}

.btn-signup,
.btn-edit {
    background-color: var(--highlight);
    color: var(--white);
}


.btn-delete,
.btn-search {
    color: var(--white);
    background: var(--dark-highlight) ;
}

.btn-signup:hover,
.btn-signup:active,
.btn-edit:hover,
.btn-edit:active,
.btn-delete:hover,
.btn-delete:active {
    background-color: var(--light-highlight);
    color: var(--dark-highlight);
}

.link {
    color: var(--highlight);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--dark-highlight) ;
    text-decoration: underline;
}

.btn-like {
    color: var(--highlight) ;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--highlight) ;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}