:root {
    --light-neutral: #F9FAFC;
    --white: #FFFFFF;
    --highlight: #FD7E14;
    --dark-highlight: #D7410F;
    --light-highlight: #f7ddcf;
    --dark-neutral: #313845;
    --teal: #188181;
    --light-teal: #23BBBB;
  }

body {
    background-color: var(--light-neutral);
}

.brand {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: var(--dark-highlight);
}

nav .brand {
    font-size: 1.4rem;

}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: var(--background-color-light);
}

.dark-bg {
    background-color: var(--dark-highlight);
}

.main-bg {
    background-color: var(--light-neutral);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--dark-highlight);
    border-radius: 5px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--dark-highlight);
    color: var(--white);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 80%;
    height: 100%;
    width: 150%;
    background: var(--dark-highlight) ;
    -webkit-transform: skew(25deg);
    -moz-transform: skew(25deg);
    transform: skew(25deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: var(--dark-neutral) ;
}

.recipe-link:hover,
.page-link {
    color: var(--highlight) ;
}

.footer-link:hover {
    color: var(--light-highlight);
}


.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: var(--white);
}

.card-header {
    background-color: var(--highlight);
}

#instructions {
    background-color: var(--light-highlight);
}

.btn-signup,
.btn-edit {
    background-color: var(--teal);
    color: var(--white);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white);
    color: var(--light-teal);
}

.link {
    color: var(--light-teal);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--dark-neutral) ;
    text-decoration: underline;
}

.btn-like {
    color: var(--highlight) ;
    border: none;
    background: transparent;
}

.btn-delete {
    color: var(--white);
    background: var(--highlight) ;
}

.btn-like:hover,
.btn-like:active {
    color: var(--highlight) ;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}