:root {
    --background-color-neutral: #F9FAFC;
    --white: #FFFFFF;
    --red-orange: #E84610;
    --gray: #445261;
    --dark-gray: #4A4A4F;
    --teal: #188181;
    --light-teal: #23BBBB;
  }

body {
    background-color: var(--background-color-neutral);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-gray);
}

.red-o {
    color: var(--red-orange);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: var(--background-color-light);
}

.dark-bg {
    background-color: var(--gray) ;
}

.main-bg {
    background-color: var(--background-color-neutral);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--teal);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--gray) ;
    color: var(--white);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--gray) ;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-link {
    text-decoration: none;
    color: var(--gray) ;
}

.recipe-link:hover,
.footer-link:hover,
.page-link {
    color: var(--red-orange) ;
}

.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: var(--teal);
    color: var(--white);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white);
    color: var(--light-teal);
}

.link {
    color: var(--light-teal);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--gray) ;
    text-decoration: underline;
}

.btn-like {
    color: var(--red-orange) ;
    border: none;
    background: transparent;
}

.btn-delete {
    color: var(--white);
    background: var(--red-orange) ;
}

.btn-like:hover,
.btn-like:active {
    color: var(--red-orange) ;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}