{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "./snippets/filters.html" %}

<div class="container-fluid">
{% if 'temperature' in request.path and temp != None %}
    <h1>{{ object_count }}  results for "{{ temp }}"</h1>
{% endif %}

{% if 'temperature' in request.path and diet != None %}
    <h1>{{ object_count }}  results for "{{ diet }}"</h1>
{% endif %}
</div>


{% include "./snippets/before_recipe_list.html" %}

    {% for recipe in recipe_list %}
        {% include "./snippets/recipe_list.html" %}
    {% endfor %}

{% include "./snippets/after_recipe_list.html" %}

{% endblock %}