{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">


{% include "./snippets/before_recipe_list.html" %}

    {% for recipe in recipe_list %}
        {% include "./snippets/recipe_list.html" %}
    {% endfor %}

{% include "./snippets/after_recipe_list.html" %}

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>


{% endblock %}