{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Recipe title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Recipe author goes before the | the recipe's created date goes after -->
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpeg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <!-- The recipe content goes inside the card-text. -->
            <!-- Use the | safe filter inside the template tags -->
            <p class="card-text">
                Prep time: {{ recipe.prep_time | safe }} minute{{ recipe.prep_time | pluralize }}

                <br>
                Prep time: {{ recipe.cook_time | safe }} minute{{ recipe.cook_time | pluralize }}
             </p>
            <div class="card-body">
                <h4 style="background-color: orange;">
                    Ingredients
                    ({{ ingredient_count | safe }})
                </h4>
                    <ul>
                        {% for recipe_ingredient in recipe_ingredients %}
                            <li>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.unit }} of {{ recipe_ingredient.ingredient }}</li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="card-body" style="background-color: orangered;">
                <p class="card-text">
                    {{ recipe.instructions | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}