{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid mt-4">
    <div class="row mx-2">
        <div class="text-center mt-5">
            <p>
                Oops, it looks like you do not have permission to do that!
            </p>

            <p>
                <a href="/" class="link" aria-label="Back to the spicy blog home page">
                    Click here</a> to go back to the <span
                    class="brand">spicy</span> blog home page and check if you are logged in with your correct account.
            </p>
        </div>
    </div>
</div>

{% endblock %}