<!-- code that comes after the for loop creating the list of recipes on index.html and search_results.html -->
            </div>
        </div>
    </div>
    <!-- Pagination of search results. NB: `query` has to be added to the URL for Search, `temp` for temperature filtering, `diet` for diet filtering, etc. -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                {% if 'search' in request.path %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&q={{ query }}" class="page-link"> &laquo; PREV</a></li>
                {% elif temp %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&temp={{ temp }}" class="page-link"> &laquo; PREV</a></li>
                {% elif diet %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&diet={{ diet }}" class="page-link"> &laquo; PREV</a></li>
                {% elif taste %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&taste={{ taste }}" class="page-link"> &laquo; PREV</a></li>
                {% elif texture %}
                    <li><a href="?page={{ page_obj.previous_page_number }}&texture={{ texture }}" class="page-link"> &laquo; PREV</a></li>
                {% else %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if "search" in request.path %}
                    <li><a href="?page={{ page_obj.next_page_number }}&q={{ query }}" class="page-link"> NEXT &raquo;</a></li>
                {% elif temp %}
                    <li><a href="?page={{ page_obj.next_page_number }}&temp={{ temp }}" class="page-link"> NEXT &raquo;</a></li>
                {% elif diet %}
                    <li><a href="?page={{ page_obj.next_page_number }}&diet={{ diet }}" class="page-link"> NEXT &raquo;</a></li>
                {% elif taste %}
                    <li><a href="?page={{ page_obj.next_page_number }}&taste={{ taste }}" class="page-link"> NEXT &raquo;</a></li>
                {% elif texture %}
                    <li><a href="?page={{ page_obj.next_page_number }}&texture={{ texture }}" class="page-link"> NEXT &raquo;</a></li>
                {% else %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% endif %}

