<!-- temperature selector form -->
<form id="temperature-selector-div" class="me-lg-3" action="{% url 'temperature_results' %}" method="get"
aria-label="Temperature selector">
<select id="temperature-selector" class="form-select" name="temp" onchange="this.form.submit()" aria-label="color-theme-selector">
    <option value="any temperature" selected="selected">any temperature</option>
    <option value="hot">hot</option>
    <option value="cold">cold</option>
    <option value="lukewarm">lukewarm</option>
</select>
</form>