<div d-flex class="row">
    <div class="col">
        <!-- temperature filter form -->
        <form id="temperature-selector-div" class="mx-3" action="{% url 'filter_results' %}" method="get"
            aria-label="Temperature filter">
            <select id="temperature-selector" class="form-select" name="temp" onchange="this.form.submit()"
                aria-label="Temperature selector">
                <option value="any temperature" selected="selected">any temperature</option>
                <option value="hot">hot</option>
                <option value="cold">cold</option>
                <option value="lukewarm">lukewarm</option>
            </select>
        </form>
    </div>
    <div class="col">
        <!-- diet filter form -->
        <form id="diet-selector-div" class="mx-3" action="{% url 'filter_results' %}" method="get"
            aria-label="Diet filter">
            <select id="diet-selector" class="form-select" name="diet" onchange="this.form.submit()"
                aria-label="Diet selector">
                <option value="any diet" selected="selected">any diet</option>
                <option value="vegetarian">vegetarian</option>
                <option value="vegan">vegan</option>
                <option value="gluten free">gluten free</option>
            </select>
        </form>
    </div>
    <div class="col">
        <!-- taste filter form -->
        <form id="taste-selector-div" class="mx-3" action="{% url 'filter_results' %}" method="get"
            aria-label="Taste filter">
            <select id="taste-selector" class="form-select" name="taste" onchange="this.form.submit()"
                aria-label="Taste selector">
                <option value="any taste" selected="selected">any taste</option>
                <option value="salty">salty</option>
                <option value="sweet">sweet</option>
                <option value="bitter">bitter</option>
                <option value="sour">sour</option>
                <option value="spicy">spicy</option>
            </select>
        </form>
    </div>
    <div class="col">
        <!-- texture filter form -->
        <form id="texture-selector-div" class="mx-3" action="{% url 'filter_results' %}" method="get"
            aria-label="Texture filter">
            <select id="texture-selector" class="form-select" name="texture" onchange="this.form.submit()"
                aria-label="Texture selector">
                <option value="any texture" selected="selected">any texture</option>
                <option value="chunky">chunky</option>
                <option value="crunchy">crunchy</option>
                <option value="smooth">smooth</option>
            </select>
        </form>
    </div>
</div>