<!-- Displays the list of recipes on the home page and search page -->

{% load static %}

<div class="col-md-4">
    <div class="card recipe-card border text-center mb-4">
        <div class="card-body">
            <div class="image-container">
                <!-- recipe image or placeholder -->
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/pots.jpg' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ recipe.featured_image.url }}"
                  alt="{{ recipe.title }}">
                {% endif %}
                <div class="image-flash">
                    <p class="author">
                    <!-- diplay first name if available -->
                    {% if recipe.author.first_name %}
                     {{ recipe.author.first_name }}
                        <!-- if first name and last name are both available, show both -->
                        {% if recipe.author.last_name %}
                            {{ recipe.author.last_name }}
                        {% endif %}
                    <!-- otherwise, display the username -->
                    {% else %}
                        {{ recipe.author }}
                    {% endif %}
                    </p>
                </div>
            </div>
            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link stretched-link">
                <h2 class="card-title">{{ recipe.title }}</h2>
            </a>

            <hr>
            <!-- recipe attributes -->
            <p class="card-text h6">
                <!-- iterate over all attributes of this recipe. 
                 Get the set of attributes with the related name defined in th ForeignKey of the RecipeAttribute model-->
                {% for recipe_attribute in recipe.attributes.all %}
                    #{{ recipe_attribute.attribute.attr_value }}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
{% endif %}